<!doctype html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'homepage/css/signup.css'%}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form action="#" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <button value="submit">Login</button>

        <p>Don't have an account?<br>
            <a href="{%url 'sign'%}" style="font-weight:bold; font-size:16px">Create New</a>
            <br>
            <br>
            <a href="{%url 'homepage'%}" style="font-weight:bold; font-size:16px">Back to Home</a>

        </p>
    </form>

</div>

</body>
</html>