<!doctype html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'homepage/css/ecom_signup.css'%}">
    <title>Signup</title>
</head>
<body>
<div class="container">
    <form action="#" method="post">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <input type="text" placeholder="Full address"/>
        <input type="integer" placeholder="Phone  number"/>
        <button value="submit">Sign Up</button>

        <p>Already have an account?
            <a href="{%url 'log_user'%}" style="font-weight:bold; font-size:16px">Log In</a>
            <br>
            <a href="{%url 'homepage'%}" style="font-weight:bold; font-size:16px">Back to Home</a>
        </p>
    </form>

</div>

</body>
</html>